<h1>Message</h1>
<p><strong>User:</strong> <%= @message.user.name %></p>
<p><strong>Chat:</strong> <%= link_to "Chat ##{@message.chat.id}", chat_path(@message.chat) %></p>
<p><strong>Body:</strong> <%= @message.body %></p>

<%= link_to "Edit Message", edit_message_path(@message) %>
